{% set css = page.header.styles %}
{% set column_num = page.header.column_number %}
<div class="modular-row{% if css %} {{ css }}{% endif %}">
  <div class="row">
    <div class="sg-content">
      <h2 class="sg-title">{{ page.title }}</h2>
      <div class="sg-columns-row">
        <div class="row small-up-{{ (column_num // 3) }} medium-up-{{ (column_num // 2) + 1 }} large-up-{{ column_num }}">
        {% for column in page.content|split('<hr />') %}
          <div class="column">
  	        <div class="sg-column-block">
  	          {{ column }}
  	        </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
