{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block header_navigation %}
    {{  parent() }}
{% endblock %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}" {% if module.header.title|contains('In Page Navigation') or module.header.title|contains('Showcase') %}{% else %}data-magellan-target="{{ _self.pageLinkName(module.menu) }}{% endif %}">
        	{{ module.content }}
        </div>
    {% endfor %}
{% endblock %}
